In [1]:
import pandas as pd

In [2]:
BUYING_VALUE_WITH_GLUE_A4 = 14.
BUYING_VALUE_WITHOUT_GLUE_A4 = 13.

BUYING_VALUE_WITH_GLUE_30 = 16.
BUYING_VALUE_WITHOUT_GLUE_30 = 15.


SELLING_VALUE_WITH_GLUE_A4 = 19.9
SELLING_VALUE_WITHOUT_GLUE_A4 = 18.9

SELLING_VALUE_WITH_GLUE_30 = 21.9
SELLING_VALUE_WITHOUT_GLUE_30 = 20.9

In [3]:
MARKETPLACE_AMAZON = 0.14
MARKETPLACE_SHOPEE = 0.21

In [4]:
PRODUCTS = ["A4 Com Cola", "A4 Sem Cola", "30x30 Com Cola", "30x30 Sem Cola"]

In [5]:
data = {
    "ID": [1,2,3,4],
    "Produtos": PRODUCTS,
    "Preço de Compra": [BUYING_VALUE_WITH_GLUE_A4, BUYING_VALUE_WITHOUT_GLUE_A4, BUYING_VALUE_WITH_GLUE_30, BUYING_VALUE_WITHOUT_GLUE_30],
    "Preço de Venda": [SELLING_VALUE_WITH_GLUE_A4, SELLING_VALUE_WITHOUT_GLUE_A4, SELLING_VALUE_WITH_GLUE_30, SELLING_VALUE_WITHOUT_GLUE_30]
}

In [6]:
df_products = pd.DataFrame(data)
df_products

   ID        Produtos  Preço de Compra  Preço de Venda
0   1     A4 Com Cola             14.0            19.9
1   2     A4 Sem Cola             13.0            18.9
2   3  30x30 Com Cola             16.0            21.9
3   4  30x30 Sem Cola             15.0            20.9

In [7]:
df_products.set_index("ID", inplace=True)
df_products

          Produtos  Preço de Compra  Preço de Venda
ID
1      A4 Com Cola             14.0            19.9
2      A4 Sem Cola             13.0            18.9
3   30x30 Com Cola             16.0            21.9
4   30x30 Sem Cola             15.0            20.9

In [8]:
df_amazon = df_products.copy()
df_amazon["Marketplace Amazon"] = MARKETPLACE_AMAZON
df_amazon["Lucro"] = df_amazon["Preço de Venda"].apply(lambda value: round(value*(1-MARKETPLACE_AMAZON), 2))
df_amazon["Lucro 3un."] = df_amazon["Lucro"].apply(lambda value: value*3)
df_amazon["Lucro 5un."] = df_amazon["Lucro"].apply(lambda value: value*5)
df_amazon["Lucro 10un."] = df_amazon["Lucro"].apply(lambda value: value*10)

In [9]:
df_amazon

,Produtos,Preço de Compra,Preço de Venda,Marketplace Amazon,Lucro,Lucro 3un.,Lucro 5un.,Lucro 10un.
ID,,,,,,,,
1,A4 Com Cola,14.0,19.9,0.14,17.11,51.33,85.55,171.1
2,A4 Sem Cola,13.0,18.9,0.14,16.25,48.75,81.25,162.5
3,30x30 Com Cola,16.0,21.9,0.14,18.83,56.49,94.15,188.3
4,30x30 Sem Cola,15.0,20.9,0.14,17.97,53.91,89.85,179.7

In [10]:
df_shopee = df_products.copy()
df_shopee["Marketplace Shopee"] = MARKETPLACE_SHOPEE
df_shopee["Lucro"] = df_shopee["Preço de Venda"].apply(lambda value: round(value*(1-MARKETPLACE_SHOPEE), 2))
df_shopee["Lucro 3un."] = df_shopee["Lucro"].apply(lambda value: value*3)
df_shopee["Lucro 5un."] = df_shopee["Lucro"].apply(lambda value: value*5)
df_shopee["Lucro 10un."] = df_shopee["Lucro"].apply(lambda value: value*10)

In [11]:
df_shopee

,Produtos,Preço de Compra,Preço de Venda,Marketplace Shopee,Lucro,Lucro 3un.,Lucro 5un.,Lucro 10un.
ID,,,,,,,,
1,A4 Com Cola,14.0,19.9,0.21,15.72,47.16,78.60,157.2
2,A4 Sem Cola,13.0,18.9,0.21,14.93,44.79,74.65,149.3
3,30x30 Com Cola,16.0,21.9,0.21,17.30,51.90,86.50,173.0
4,30x30 Sem Cola,15.0,20.9,0.21,16.51,49.53,82.55,165.1

In [12]:
with pd.ExcelWriter("Cadastro e Preço.xlsx") as writer:
    df_products.to_excel(writer, sheet_name="Produtos")
    df_amazon.to_excel(writer, sheet_name="Preços Amazon")
    df_shopee.to_excel(writer, sheet_name="Preços Shopee")